.coin-card {
  text-align: center;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  background-color: #F2DFC4;
  
}

.coin-image {
  width: 100px;
  height: 100px;
  margin-bottom: 8px;
}

.coin-weight {
  font-weight: bold;
}

.coin-price {
  color: #8E2927;
}
