.header-logo {
    display: flex;
    align-items: center;
     /* Add some padding for spacing */
    background-color: #F8EBD8; /* Light background color */
    border-bottom: 1px solid #8E2927    ;
  }
  
  .icon-background {
    background-color: #8E2927; /* Background color for the icon */
    padding: 10px;
    border-radius: 0 40% 40% 0; /* Make it circular */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px; 
    margin-left: 0;
    padding-left: 0;
  }
  
  .logo-icon {
    width: 50px; /* Adjust the size as needed */
    height: auto;
  }
  
  .header-text {
    display: flex;
    flex-direction: column;
  }
  
  .header-text h2 {
    font-family: 'Italiana' ,sans-serif;
    margin: 0;
    font-size: 27px; /* Increase font size */
    color: #A5590F; /* Color to match the icon background */
    font-weight: 400; /* Adjust font weight as needed */
  }
  
  .header-text p {
    margin: 0;
    font-size: 12px; /* Increase font size */
    color: #A5590F; /* Adjust the color as needed */
    font-weight: 400; /* Adjust font weight as needed */
  }

  .header-md {
    -webkit-box-shadow:none;
  }    
  